@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


@include fontFamily;

body{
  position: relative;
}
.mobileNavigation{
  position: fixed;
  top: 0px;
  left: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $tertiary-color;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow-y: hidden;
  // transform: translateX(100vw);
  transition: transform 0.5s ease-in;
  a button{
    @include loginButton;
  }
  .firstpage{
    text-decoration: none;
    font-weight: 400;
    color: $white;
  }

}
.toggle{
  transform: translateX(-100%) !important;
}


.text {
  color: $font-color;
}


.ghbar {
  display: none !important;
}
.menu {
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  overflow: hidden;
  padding: 0;
  z-index: 99;
  
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  padding: 0px 3%;
  .logo {
    width: 120px;
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;
      li {
        position: relative;
        a {
          text-decoration: none;
          font-weight: 400;
          color: $white;
          &::after,
          &::before {
            content: ".";
            position: absolute;
            font-size: 35px;
            color: $white;
            top: -21px;
            display: none;
          }
          &::before {
            left: -10px;
          }
          &::after {
            right: -9px;
          }
        }

        &:hover > ::after,
        &:hover > ::before {
          display: block;
        }
      }
    }
  }
  a {
    button {
      @include loginButton;
    }
  }
}
@media screen and (max-width: 880px) {
  .text {
    font-size: 14px;
  }
  .heading2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .logo {
    width: 80px !important;
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
}
